.footer {
  background-color: #b49987;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
  font-family: "pfdintextcondpro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
}

.FooterImg {
  width: 150px;
}
