.hederLogo {
  width: 200px;
  height: auto;
}
.hederText {
  width: 500px;
  height: auto;
}
.header {
  background-image: url(../../resources/pictures/GoldFon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexConteiner {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  padding-right: 25%;
  padding-left: 15%;
  align-items: center;
}
.hederNav {
  background-color: #f4d9b9;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: black;
  padding: 12px 0;
  align-items: center;
  font-family: "pfdintextcondpro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
}
